<app-menu-tab></app-menu-tab>


  <div class="container">
    <div class="card">
        <div class="card-header">
            Organisations
            <div class="card-footer text-muted">
                <a class="btn btn-outline-secondary" routerLink="/add-organisations" routerLinkActive="active"><i class="bi bi-plus"></i></a>
                <a class="btn btn-outline-secondary" ><i class="bi bi-arrow-counterclockwise"></i></a>
                <a class="btn btn-outline-secondary" routerLink="/organisations" routerLinkActive="active"><i class="bi bi-layout-split"></i></a>
                <a class="btn btn-outline-secondary" routerLink="/list-organisations" routerLinkActive="active"><i class="bi bi-skip-end-fill"></i></a>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="wrapper">
                    <!-- Sidebar -->
                    <div class="sidebar">
                      <h2>Sidebar</h2>
                      <ul>
                        <li *ngFor="let o of organisations; let i = index"
                        [class.active]="i == currentIndex"
                        (click)="setActiveOrganisation(organisation, i)"
                            >
                          {{ o.entite }} <br>
                          {{ o.description }}
                          <td><button class="btn btn-info" (click)="updateOrg(o.id)"><i class="bi bi-eye"></i></button></td>
                        </li>
                      </ul>
                    </div>
                  
                    <!-- Page Content -->
                    <div class="content">
                      <app-add-organisation></app-add-organisation>
                      <!-- <app-edit-organisation></app-edit-organisation> -->
                    </div>
                  </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>
</div>