<app-menu-tab-org></app-menu-tab-org>


  <div class="container">
    <div class="card">
        <div class="card-header">
            Organisations
            <div class="card-footer text-muted">
                <a class="btn btn-outline-secondary" routerLink="/emat/add-organisations" routerLinkActive="active"><i class="bi bi-plus"></i></a>
                <button class="btn btn-outline-secondary" (click)=" onReset()"><i class="bi bi-arrow-counterclockwise"></i></button>
                <a class="btn btn-outline-secondary" routerLink="/emat/organisations" routerLinkActive="active"><i class="bi bi-layout-split"></i></a>
                <a class="btn btn-outline-secondary" routerLink="/emat/list-organisations" routerLinkActive="active"><i class="bi bi-skip-end-fill"></i></a>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="wrapper">
                    <!-- Sidebar -->
                    <div class="sidebar">
                      <h2>Sidebar</h2>
                      <ul>
                        @for (o of organisations; track o.id; let i = $index) {
                        <li  class="list-group-item"
                        [class.active]="i == currentIndex"
                        (click)="setActiveOrganisation(o, i)">
                          {{ o.entite }} <br>
                          {{ o.description }}
                          <td><button class="btn btn-info" (click)="updateOrg(o.id)"><i class="bi bi-eye"></i></button></td>
                        </li>
                      }
                      </ul>
                    </div>
                  
                    <!-- Page Content -->
                    <div class="content">
                      <app-add-organisation></app-add-organisation>
                       <!-- <app-edit-organisation
                       [viewMode]="true"
                       [currentOrg]="currentOrg"
                       >
                       </app-edit-organisation> -->
                      <!-- <div class="col-md-6">
                        <app-organisation-details
                          [viewMode]="true"
                          [currentOrg]="currentOrg"
                        ></app-organisation-details>
                      </div> -->
                    </div>
                  </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>
</div>