<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/ordre-de-travail" routerLinkActive="active">Enregistrement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/activites" routerLinkActive="active">Activités</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/pointer-main-oeuvre" routerLinkActive="active">Pointer main d'oeuvre</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/planifier-main-oeuvre" routerLinkActive="active">Planifier main d'oeuvre</a>
    </li>
</ul>