<app-menu-tab></app-menu-tab>
<div class="container">
    <div class="card">
        <div class="card-header">Ordre de travail</div>
        <div class="card-body">
            <div class="container">
                <form>
                    <!-- Colonne 1 -->
                    <div class="row g-2">
                        <div class="col-md-6">
                            <div class="col-md-10">
                                <label for="textInput">Ordre de travail</label>
                                <input type="text" class="form-control form-control-sm form-control form-control-sm-sm"
                                    id="textInput" placeholder="Entrer du texte">
                            </div>

                            <div class="col-md-10">
                                <label for="textInput">Matériel</label>
                                <select class="form-control form-control-sm" id="selectInput">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                            <div class="col-md-10">
                                <label for="textInput">Numéro de série</label>
                                <input type="text" class="form-control form-control-sm" id="textInput"
                                    placeholder="Entrer du texte">
                            </div>
                            <div class="col-md-10">
                                <label for="textInput">Nom Collaborateur</label>
                                <input type="text" class="form-control form-control-sm" id="textInput"
                                    placeholder="Entrer du texte">
                            </div>

                            <div class="col-md-10">
                                <label for="selectInput">Type</label>
                                <select class="form-control form-control-sm" id="selectInput">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                            <div class="col-md-10">
                                <label for="selectInput">Service maintenance</label>
                                <select class="form-control form-control-sm" id="selectInput">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                            <div class="col-md-10">
                                <label for="textInput">Date début prévisionnelle</label>
                                <input type="date" class="form-control form-control-sm" id="textInput"
                                    placeholder="Entrer du texte">
                            </div>
                           
                        </div>

                        <!-- Colonne 2 -->

                        <div class="col-md-6">

                            <div class="col-md-10">
                                <label for="textInput">Entité</label>
                                <input type="text" class="form-control form-control-sm" id="textInput"
                                    placeholder="Entrer du texte">
                            </div>
                            <div class="col-md-10">
                                <label for="selectInput">Statut</label>
                                <select class="form-control form-control-sm" id="selectInput">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                            <div class="col-md-10">
                                <label for="textInput">Créé par</label>
                                <input type="text" class="form-control form-control-sm" id="textInput"
                                    placeholder="Entrer du texte">
                            </div>
                            <div class="col-md-10">
                                <label for="textInput">Date de création</label>
                                <input type="date" class="form-control form-control-sm" id="textInput"
                                    placeholder="Entrer du texte">
                            </div>
                            <div class="col-md-10">
                                <label for="textInput">Priorité</label>
                                <select class="form-control form-control-sm" id="selectInput">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                            <div class="col-md-10">
                                <label for="textInput">Date fin prévisionnelle</label>
                                <input type="date" class="form-control form-control-sm" id="textInput"
                                    placeholder="Entrer du texte">
                            </div>
                            
                        </div>

                        <!-- <h5>Groupe 1 - Titre du Groupe</h5>
        
                        <hr> Séparateur
                   -->

                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer text-muted">
            <button class="btn btn-info"><i class="bi bi-floppy"></i></button> 
           <button class="btn btn-info"><i class="bi bi-plus"></i></button> 
           <button class="btn btn-primary"><i class="bi bi-arrow-counterclockwise"></i></button> 
            <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
            <button class="btn btn-info"><i class="bi bi-printer-fill"></i></button>
            <button class="btn btn-info"><i class="bi bi-skip-end-fill"></i></button>
        </div>
    </div>
</div>