<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/emat/utilisateurs" routerLinkActive="active">Enregistrement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/emat/user-organisations" routerLinkActive="active">Organisations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/emat/user-departements" routerLinkActive="active">Departements</a>
    </li>
   
</ul>