<app-menu-tab></app-menu-tab>
<div class="container">
    <div class="card">
        <div class="card-header">Activités</div>
        <div class="card-body">
            <div class="container">
                <form>
                    <!-- Colonne 1 -->
                    <div class="row g-2">
                        
                        <div class="col-md-6">
                            <div class="col-md-10">
                                <label for="textInput">Remarque</label>
                                <input type="text" class="form-control form-control-sm form-control form-control-sm-sm"
                                    id="textInput" placeholder="Entrer du texte">
                            </div>
                            
                            <div class="col-md-10">
                                <label for="textInput">Activité</label>
                                <input type="text" class="form-control form-control-sm form-control form-control-sm-sm"
                                        id="textInput" placeholder="Entrer du texte">
                            </div>
                            <div class="col-md-10">
                                <label for="selectInput">Spécialité</label>
                                <select class="form-control form-control-sm" id="selectInput">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                            <div class="col-md-10">
                                <label for="textInput">Description spécialté</label>
                                <input type="text" class="form-control form-control-sm" id="textInput"
                                    placeholder="Entrer du texte">
                            </div>
                            <div class="col-md-10">
                                <label for="textInput">Heures estimées</label>
                                <input type="text" class="form-control form-control-sm" id="textInput"
                                    placeholder="Entrer du texte">
                            </div>
                            <div class="col-md-10">
                                <label for="textInput">Agents necessaires</label>
                                <input type="text" class="form-control form-control-sm" id="textInput"
                                    placeholder="Entrer du texte">
                            </div>
                        </div>

                        <!-- Colonne 2 -->

                        <div class="col-md-6">

                            <div class="col-md-10">
                                <label for="textInput">Entité</label>
                                <input type="text" class="form-control form-control-sm" id="textInput"
                                    placeholder="Entrer du texte">
                            </div>
                            <div class="col-md-10">
                                <label for="textInput">Date debut</label>
                                <input type="date" class="form-control form-control-sm" id="textInput"
                                    placeholder="Entrer du texte">
                            </div>
                            <div class="col-md-10">
                                <label for="textInput">Heures planifiées</label>
                                <input type="text" class="form-control form-control-sm" id="textInput"
                                    placeholder="Entrer du texte">
                            </div>
                            <div class="col-md-10">
                                <label for="textInput">Heures restantes</label>
                                <input type="text" class="form-control form-control-sm" id="textInput"
                                    placeholder="Entrer du texte">
                            </div>
                        </div>

                        <!-- <h5>Groupe 1 - Titre du Groupe</h5>
        
                        <hr> Séparateur
                   -->

                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer text-muted"></div>
    </div>
</div>